*

!.gitignore
!README.md

!/ghostty/
!/ghostty/**
!/git/
!/git/**
!/i3/
!/i3/**
!/neofetch/
!/neofetch/**
!/nvim/
!/nvim/**
!/polybar/
!/polybar/**
!/starship/
!/starship/**
!/tmux/
!/tmux/**
!/windows/
!/windows/**

nvim/.claude/
nvim/.lazy.lua
nvim/.luarc.json
**/.DS_Store
